<div class="container w-50 p-5 my-5 shadow">


    {{!-- Title --}}
    <h1 class="text-center">Sign up</h1>
    {{!-- Form --}}
    <form method="post" action="/admins/sign_up" >
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="inputName" class="form-label">Full name</label>
            <input name="full_name" type="text" class="form-control" aria-describedby="nameHelp" required>
        </div>
        <div class="mb-3">
            <label for="inputImage" class="form-label">Avatar</label>
            <input name="avatar" type="file" accept="image/*" class="form-control" aria-describedby="avatarHelp" required>
        </div>
        {{!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" required>
            <label class="form-check-label">Agree</label>
        </div> --}}
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
    {{!-- Notify --}}
    <div class="row">
        <code >{{notify}}</code>
    </div>
    {{!-- Go to Sign in --}}
    <div class="row">
        <a href="/admins/sign_in" class="text-secondary text-center text-decoration-none mt-3">Comeback to Sign in</a>
    </div>

    
</div>